/*************************** App ***************************/
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

/*************************** Court View ***************************/
.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.game-container-first-row {
    width: 100%;
}

/*************************** Title of all cards ***************************/
.card-title {
    font-size: 20px;
    font-weight: bold;
}

.card-title > span {
    margin-right: 7px;
    text-decoration: underline red;
}

/*************************** Judge ***************************/
.judge-bench > .card {
    border-color: red;
    margin-top: 80px;
    margin-bottom: 25px;
}

.judge-buttons {
    display: flex;
    justify-content: space-around;
}

.judge-buttons > button {
    margin: 0 5px 10px 5px;
}

/***************************** Jury ***************************/
.jury-member {
    font-size: 40px;
}

.jury-btn {
    background: linear-gradient(-80deg, rgba(64, 133, 88, 1) 50%, rgba(203, 68, 74, 1) 50%);
}

/*************************** Plea Deal ***************************/
.pleaDeal-buttons-container {
    display: flex;
    justify-content: space-around;
}

/*************************** Others ***************************/
.others-container {
    width: 100%;
}

.others-div {
    margin: 25px 5% 0 3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
}

/*************************** Switchable Components ***************************/
.switchable-components {
    display: flex;
    justify-content: center;
}

/*************************** Sentences ***************************/

.sentences-card > .card {
    border-color: orange;
    margin-top: 20px;
    min-width: 800px;
}

.sentences-card > .card > .card-body > .sentences-card-select-flex {
    margin-top: 20px;
    display: flex;
}

.sentences-card > .card > .card-body > .sentences-card-select-flex > * {
    margin: 0 10px;
}

.sentences-card > .card > .card-body > .sentences-card-select-flex > button {
    width: 100%;
}

.sentencing-modal-text {
    text-align: center;
    margin: 20px;
}

.sentencing-modal-button {
    width: 100%;
    margin-bottom: 10px;
}

.sentences-switch > .custom-control-input:checked ~ .custom-control-label::before {
    background-color: red;
}

/*************************** Penal Code ***************************/
.penal-code-view-container {
    height: 100vh;
    overflow-y: hidden;
}


.penal-code-view-div {
    padding: 20px 0;
    height: 60vh;
    overflow-y: scroll;
}


/*************************** Penal Code Modal ***************************/

.penal-code-modal-container {
    display: flex;
    justify-content: space-around;
}

/*************************** Court Bar ***************************/
.court-bar {
    max-width: 40%;
}

.court-bar > .card {
    border-color: orange;
    padding: 0 5px;
}

.witness-questions-buttons {
    margin: 15px 0;
}

/*************************** Criminal Record ***************************/
.criminal-record-card > .card {
    border-color: wheat;
}

.criminal-record-overflow {
    overflow-y: scroll;
    height: 22vh;
}

.criminal-record-overflow > .criminal-record-subcard {
    border-color: white;
    margin: 15px 5% 20px 5%;
}

.criminal-record-overflow::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.criminal-record-overflow::-webkit-scrollbar-track {
    border-radius: 10px;
}

.criminal-record-overflow::-webkit-scrollbar-thumb {
    background: wheat;
    border-radius: 10px;
}

.wheat-proof {
    text-decoration: underline wheat;
}

/*************************** Defense ***************************/
.defense-table > .card {
    border-color: red;
    min-width: 60%;
}

/*************************** Description of the case ***************************/
.description-display > .card {
    border-color: blue;
}

/*************************** Evidences ***************************/
.evidence-display, .description-display {
    padding: 0 20px;
}

.evidence-display > .card {
    border-color: green;
    min-width: 200px;
}

.evidence-overflow {
    overflow-y: scroll;
    height: 18vh;
}

.evidence-overflow::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.evidence-overflow::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
.evidence-overflow::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 10px;
}

.evidence-proof {
    text-decoration: underline chocolate;
}

.evidence-proof > div > p {
    margin: 10px 0 10px 0;
}

.evidences-suppress-button {
    margin-left: 50px;
}

/**************************** Witnesses ****************************/

/**************************** Prosecution ****************************/
.prosecution-table > .card {
    border: 2px dashed black;
    min-width: 80%;
}

.evidence-overflow > p {
    margin-top: 0;
}

/*************************** Dark Mode ***************************/
.dark-mode-button, .office-button {
    position: absolute;
    top: 20px;
}

.dark-mode-button {
    right: 20px;
}

.office-button {
    left: 20px;
}

/*************************** History Page ***************************/
.cases-history-container {
    height: 100vh;
}

.return-button {
    position: absolute;
    top: 17px;
    left: 20px;
}

.table-history-cases {
    height: 100%;
    padding-top: 5%;
    padding-bottom: 50px;
    overflow-y: scroll;
}

/*************************** Statistics Page ***************************/
span.apexcharts-legend-text {
    color: white;
}

/*************************** Responsive ***************************/
@media (max-width: 1024px) {
    #app {
        height: 100%;
        overflow-y: scroll;
        padding-top: 10px;
    }

    .others-div {
        flex-direction: column;
    }

    .others-div > * {
        margin-top: 20px;
        max-width: 85%;
    }

    .sentences-card > .card {
        margin: 0 5%;
        min-width: unset;
    }

    .sentences-card > .card > .card-body > .sentences-card-select-flex {
        flex-direction: column;
        margin: 0 10%;
        align-items: center;
    }

    .sentences-card > .card > .card-body > .sentences-card-select-flex > * {
        margin-top: 20px;
    }

    .sentences-card > .card > .card-body > .sentences-card-select-flex > button {
        width: 100%;
    }

    .modal-content {
        margin: 0 5%;
    }

    .court-bar {
        max-width: 60%;
    }
}

@media (max-width: 900px) {
    .court-bar {
        max-width: 85%;
    }

    .table-history-cases {
        height: 100%;
        padding-top: 10%;
        padding-bottom: 50px;
        overflow-y: scroll;
    }
}

@media (max-width: 768px) {
    .judge-bench {
        margin: 0 15%;
    }
}


@media (max-width: 600px) {
    .criminal-record-card {
        max-width: 75%;
    }

    .others-div {
        margin: 0 5% 0 3%;
    }

    .judge-bench > .card{
        margin-bottom: 0;
    }
}

@media (max-width: 500px) {
    .pleaDeal-buttons-container > button {
        font-size: 0.82em;
    }
}


